Title: <%= @discussion.title %><br>
Content:<br>
<%= @discussion.body %>
<p>
Comments:
</p>
<% @discussion.comments.each do |comment| %>
  <%= comment.body %>
  <br>
<% end %>

<%= render :partial => 'comments/inline_form' %>